*{
     margin: 0;
     padding: 0;
}

body{
    background-color: rgb(104, 39, 189);
    color: black
 
}

.cabecalho{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-imagem{
   width: 120;
}
.lista-item{
     display: inline-block;
     font-size: 24px;
     margin: 0 16px;
     margin-right: 100%;
}

.secao1{
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 24px 0;
 background-image: url(./capa-1\ 1.png);
 background-size: 100%;
 background-repeat: no-repeat;
 height: 1000px;
} 

.secao1-i { 
padding: 24px;


}
.secao1-div{
    width: 35%;
}

.secao2{
      background-color: rgb(255, 255, 255);
      text-align: center;
      font-size: 30px;
      color: rgb(108, 29, 160);
      padding:  20 px 0;

}
.secao2-todos-times{
      display: grid;
      grid-template-columns:33% 33% 33%;
      padding-top: 30px;
}
.rodape{
      background-color: rgb(255, 255, 255);
      text-align: center;

}

