*{
     margin: 0;
     padding: 0;
}


body{
    background-color: rgb(133, 52, 209);
    color: black
}

.cabecalho{
    background-color: #1B32A9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}